<section id="notes-container" class="p-2">
    <notes-wrapper>
        <div class="container max-w-screen-lg h-full mx-auto px-4 pt-0 lg:pt-16">
            <div class="flex flex-col h-full">
                <em class="opacity-40 mb-2">Modification date</em>
                <h2 class="mb-4 outline-none overflow-y-auto min-h-15" contenteditable="true">title</h2>
                <div class="outline-none flex-auto overflow-y-auto" contenteditable="true">content text</div>
            </div>
        </div>
    </notes-wrapper>
</section>
