<div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle">
    <div class="drawer-content flex flex-col">
        <!-- MOBILE TOGGLE -->
        <div class="flex justify-between">
            <label for="my-drawer-2" class="lg:hidden btn btn-square">
                <notes-icon icon="toggle"/>
            </label>
        </div>
        <!-- END MOBILE TOGGLE -->
        <ng-content class="py-3"></ng-content>
    </div>
    <div class="drawer-side">
        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay z-40"></label>
        <notes-sidebar [theme]="theme" class="h-full z-50"></notes-sidebar>
    </div>
    <notes-toggle-theme/>
</div>
