/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/typography";
@import "./styles/customDrawer";

// expose primary variable in root for custom some component/svg
:root {
    --primary: theme('colors.primary');
}

.truncate {
    @apply block text-ellipsis whitespace-nowrap overflow-hidden w-full;
}

// Every item that can overflow update the scrollbar style only on Desktop
.overflow-y-auto {
    @media (hover: hover) {
        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 2px;
        }

        &::-webkit-scrollbar-thumb {
            @apply bg-base-300;
        }
    }
}