<div
  class="menu p-4 w-60 md:w-80 min-h-full h-full flex-nowrap bg-base-200 text-base-content relative"
>
  <!-- NOTE LIST -->
  <notes-new-note class="mb-4"></notes-new-note>
  <div class="w-full mb-6">
    <label class="input input-sm input-bordered flex items-center gap-2">
      <input type="text" class="grow" placeholder="{{ '_search.placeholder' | translate }}" [(ngModel)]="filterText"/>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="w-4 h-4 opacity-70"
      >
        <path
          fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd"
        />
      </svg>
    </label>
  </div>
  <ul class="overflow-y-auto mb-[60px]">
    @for (note of filteredList; track note.id) {
      <li
        class="w-[90%] flex justify-between items-center flex-row flex-nowrap"
      >
          <a
            routerLink="note/{{ note.id }}"
            routerLinkActive="activeNote"
            class="relative duration-200 ease-in flex flex-col items-start w-full gap-0"
            [class.opacity-40]="!note.title"
            *ngIf="note.id"
          >
          <span class="truncate text-lg">{{ note.title || '_notes.empty-title' | translate }}</span>
          <span class="text-sm opacity-50">{{ note.lastUpdate | date :'dd/MM/yy HH:mm' }}</span>
        </a>
        <notes-icon
          icon="delete"
          class="hidden"
          size="default"
          (click)="deleteNote(note)"
        />
      </li>
    } @empty {
      @if(filterText.length){
        <li class="w-full flex justify-between items-center flex-row flex-nowrap">
          <div id="empty-search" class="w-full border-primary rounded-xl">
            <div role="alert" class="alert bg-base-300">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
              <span class="truncate" [innerHTML]="'_search.empty-research' | translate : {text: filterText}"></span>
              <div class="tooltip tooltip-bottom" [attr.data-tip]="'_search.reset' | translate">
                <button class="btn btn-sm btn-primary" (click)="filterText = ''">
                  <notes-icon icon="cancel" size="sm" />
                </button>
              </div>
            </div>
          </div>
        </li>
      }
    }
  </ul>
  
  
  <!-- END NOTE LIST -->
  <a href="https://www.datacolor.com/">
    <img
      class="absolute bottom-2 opacity-40 duration-300 ease-in-out hover:opacity-100 hover:scale-110"
      [style.width.%]="50"
      [src]="
        theme === 'din'
          ? 'assets/images/darkLogo.png'
          : 'assets/images/logo.png'
      "
      alt="logo"
    />
  </a>
  <notes-language-theme
    class="absolute bottom-2 right-2"
  ></notes-language-theme>
</div>